<ul class="BaggageCarousel  BaggageCarousel--default" data-flickity='{ "freeScroll": true, "pageDots": false, "wrapAround": true, "autoPlay": 1500 }'>

  <li class="BaggageCarousel-suitcase" style="width: 8rem;">
    <a href="http://www.avascent.com/" target="_blank">
      <div style="background-image: url(/images/logo-avascent.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 8rem;">
    <a href="https://www.leidos.com/" target="_blank">
      <div style="background-image: url(/images/logo-leidos.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 8rem;">
    <a href="https://www.nathaninc.com/" target="_blank">
      <div style="background-image: url(/images/logo-nathan.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 8rem;">
    <a href="https://www.pepco.com/" target="_blank">
      <div style="background-image: url(/images/logo-pepco.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase">
    <a href="https://www.pwc.com/" target="_blank">
      <div style="background-image: url(/images/logo-pwc.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 9rem;">
    <a href="http://www.sesolutions.com/" target="_blank">
      <div style="background-image: url(/images/logo-se.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 8rem;">
    <a href="http://www.turnerconstruction.com/" target="_blank">
      <div style="background-image: url(/images/logo-turner.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 9rem;">
    <a href="https://www.brightview.com/" target="_blank">
      <div style="background-image: url(/images/logo-brightview.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 8rem;">
    <a href="https://cadmusgroup.com/" target="_blank">
      <div style="background-image: url(/images/logo-cadmus.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 10rem;">
    <a href="https://www.capgemini.com/" target="_blank">
      <div style="background-image: url(/images/logo-capgemini.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase">
    <a href="https://www.cuisinesolutions.com/" target="_blank">
      <div style="background-image: url(/images/logo-cuisinesolutions--large.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase">
    <a href="https://www.dcunited.com/" target="_blank">
      <div style="background-image: url(/images/logo-dcunited.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 9rem;">
    <a href="https://www2.deloitte.com/us/" target="_blank">
      <div style="background-image: url(/images/logo-deloitte.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 10rem;">
    <a href="https://www.grantthornton.com/" target="_blank">
      <div style="background-image: url(/images/logo-grantthornton.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 8rem;">
    <a href="http://www.volkswagengroupofamerica.com/" target="_blank">
      <div style="background-image: url(/images/logo-vwgoa.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 9rem;">
    <a href="https://capitalforchildren.org/" target="_blank">
      <div style="background-image: url(/images/logo-capitalforchildren.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 9rem;">
    <a href="https://www.accenture.com/" target="_blank">
      <div style="background-image: url(/images/logo-accenture.svg);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 8rem;">
    <a href="https://www.clarkconstruction.com/" target="_blank">
      <div style="background-image: url(/images/logo-clarkconstruction.jpg);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase">
    <a href="http://districtsportssoccer.org/" target="_blank">
      <div style="background-image: url(/images/logo-districtsports.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase">
    <a href="http://www.marriott.com/" target="_blank">
      <div style="background-image: url(/images/logo-marriott.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase">
    <a href="http://modifiedconstruction.com/" target="_blank">
      <div style="background-image: url(/images/logo-modifiedconstruction.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 8rem;">
    <a href="https://www.akingump.com/" target="_blank">
      <div style="background-image: url(/images/logo-akingump.svg);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase">
    <a href="https://www.hoganlovells.com/" target="_blank">
      <div style="background-image: url(/images/logo-hoganlovells.jpg);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 10rem;">
    <a href="https://www.kirkland.com/" target="_blank">
      <div style="background-image: url(/images/logo-kirklandellis.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 9rem;">
    <a href="https://www.venable.com/" target="_blank">
      <div style="background-image: url(/images/logo-venable.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 10rem;">
    <a href="https://www.wc.com/" target="_blank">
      <div style="background-image: url(/images/logo-williamsconnolly.png);"></div>
    </a>
  </li>

  <li class="BaggageCarousel-suitcase" style="width: 8rem;">
    <a href="http://www.zuckerman.com/" target="_blank">
      <div style="background-image: url(/images/logo-zuckerman.svg);"></div>
    </a>
  </li>

</ul>

<!-- "autoPlay": 1500 -->
