<ul class="BaggageCarousel  BaggageCarousel--default" data-flickity='{ "freeScroll": true, "pageDots": false }'>

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/arsenal.svg);"></div>
  </li><!-- 00 -->

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/chelsea.svg);"></div>
  </li><!-- 01 -->

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/arsenal.svg);"></div>
  </li><!-- 02 -->

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/chelsea.svg);"></div>
  </li><!-- 03 -->

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/arsenal.svg);"></div>
  </li><!-- 04 -->

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/chelsea.svg);"></div>
  </li><!-- 05 -->

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/arsenal.svg);"></div>
  </li><!-- 06 -->

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/chelsea.svg);"></div>
  </li><!-- 07 -->

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/arsenal.svg);"></div>
  </li><!-- 08 -->

</ul>

<!-- "autoPlay": 1500 -->
