<ul class="BaggageCarousel  BaggageCarousel--default" data-flickity='{ "freeScroll": true, "pageDots": false }'>

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/arsenal.svg);"></div>
  </li><!-- 00 -->

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/chelsea.svg);"></div>
  </li><!-- 01 -->

  <li class="BaggageCarousel-suitcase">
    <div style="background-image: url(/images/arsenal.svg);"></div>
  </li><!-- 02 -->

</ul>
