<header role="banner">

  <a href="/" rel="home">
    <img src="/images/logo.png" alt="Logo">
    <span>October 17-18, 2020
      <br>The Fields at RFK Campus
    </span>
  </a>

  <!-- Presented by -->
  <!--<div>
    <span>Presented<br>By</span>
    <img src="/images/logo-cuisinesolutions.png" alt="">
  </div>-->

  <nav class="Navigation" role="navigation">
    <a href="/" {% if page.url == "/" %}class="is-active"{% endif %}>Home</a>
    <a href="/about" {% if page.url contains "about" %}class="is-active"{% endif %}>About</a>
    <a href="/teams" {% if page.url contains "teams" %}class="is-active"{% endif %}>Teams</a>

    <a href="/sponsor">
      <span>Sponsor</span>
    </a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScpwM8GMiNgJ1nSdKLFwJ4LT9PpYtFtGzd3PnSr2hCf84RIHg/viewform" target="_blank">
      <span>Register</span>
    </a>
  </nav>

</header>
