<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- LOL, I don't even know -->
  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">

  <!-- Title -->
  <title>{% if page.title %}{{ page.title }} &#45; {% endif %}{{ site.title }}</title>

  <!-- Description -->
  <meta name="description" content="Description.">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/flickity.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/brazuca.css" type="text/css">

  <!-- Canonical for SEO I guess -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
