<header role="banner">

  <a href="/" rel="home">
    <img src="/images/logo.png" alt="Logo">
    <span>Summer 2020</span>
  </a>

  <!-- Presented by -->
  <!--<div>
    <span>Presented<br>By</span>
    <img src="/images/logo-cuisinesolutions.png" alt="">
  </div>-->

  <nav class="Navigation" role="navigation">
    <a href="/" {% if page.url == "/" %}class="is-active"{% endif %}>Home</a>
    <a href="/about" {% if page.url contains "about" %}class="is-active"{% endif %}>About</a>
    <a href="/teams" {% if page.url contains "teams" %}class="is-active"{% endif %}>Teams</a>

    <a href="/sponsor">
      <span>Sponsor</span>
    </a>
    <a href="#" target="_blank" style="pointer-events: none;">
      <span>Register
        <span style="display:block;padding-top:4px;font-size: 14px;text-align: center;">coming soon</span>
      </span>
    </a>
  </nav>

</header>
