/*------------------------------------*\
    #FLEX SPLIT
\*------------------------------------*/

.u-flexSplit {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
