/*------------------------------------*\
    #ABOVE
\*------------------------------------*/

.u-above2 {
  padding-top: 2rem;
}

.u-above4 {
  padding-top: 4rem;
}

.u-above6 {
  padding-top: 6rem;
}

.u-above8 {
  padding-top: 8rem;
}

.u-above16 {
  padding-top: 16rem;
}
