/*------------------------------------*\
    #BELOW
\*------------------------------------*/

.u-below1 {
  padding-bottom: 1rem;
}

.u-below2 {
  padding-bottom: 2rem;
}

.u-below4 {
  padding-bottom: 4rem;
}

.u-below6 {
  padding-bottom: 6rem;
}

.u-below8 {
  padding-bottom: 8rem
}

.u-below16 {
  padding-bottom: 16rem;
}

.u-below48 {
  padding-bottom: 48rem;
}
