/*------------------------------------*\
    #FLEX RIGHT
\*------------------------------------*/

.u-flexRight {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-align-self: flex-end;
  -o-align-self: flex-end;
  align-self: flex-end;
}
