/*------------------------------------*\
    #FLEX LEFT
\*------------------------------------*/

.u-flexLeft {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  -o-align-self: flex-start;
  align-self: flex-start;
}
