/*------------------------------------*\
    #MOVIE THEATER
\*------------------------------------*/

.MovieTheater {
  position: relative;
  background-color: #d5bcad;

  @media (min-width: 500px) {
    padding-right: 6rem;
    padding-left: 1.5rem;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 50%;
      height: 100%;
      background-color: pink;
    }
  }

  @media (min-width: 600px) {
    padding-right: 6rem;
    padding-left: 2rem;
  }

  @media (min-width: 1200px) {
    padding-right: 10rem;
    padding-left: 2.75rem;
  }
}

  .MovieTheater-screen {
    position: relative;

    &:after {
      content: "";
      display: block;
      padding-bottom: 56.25%;
      height: 0;
    }

    @media (min-width: 500px) {
      margin-top: -11rem;
    }

    @media (min-width: 600px) {
      margin-top: -12rem;
    }

    @media (min-width: 1000px) {
      margin-top: 0;
    }
  }

    .MovieTheater-screen img {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;

      cursor: pointer;

      object-fit: cover;
      object-position: 50% 50%;
    }

    .MovieTheater-screen img:hover {
      filter: brightness(75%);
    }

    /* Yes, that is the selection I'll use, suck it */
    .MovieTheater-screen div div {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 4.5rem;
      height: 4.5rem;

      pointer-events: none;

      background-color: pink;
      background-image: url(../icons/play.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      transform: translate(-50%, -50%);

      @media (min-width: 800px) {
        width: 5rem;
        height: 5rem;
      }

      @media (min-width: 1000px) {
        width: 5.5rem;
        height: 5.5rem;
      }

      @media (min-width: 1200px) {
        width: 6rem;
        height: 6rem;
      }
    }

    .MovieTheater-screen iframe {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
