/*------------------------------------*\
    #TEXT BLOCK
\*------------------------------------*/

.TextBlock {
  margin: auto;
  width: 88%;

  @media (min-width: 600px) {
    width: 78%;
  }

  @media (min-width: 1000px) {
    width: 56%;
  }
}
