/*------------------------------------*\
    #MULA
\*------------------------------------*/

.Mula {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 2rem 2rem 2rem 2rem;

  width: 100%;
}

  .Mula-card {
    width: 32%;
  }

    .Mula-card h2 {
      padding-bottom: 2rem;
      text-align: center;
    }

      .Mula-card h2 > strong {
        display: block;
        color: darken($Yellow, 10%);
      }

    .Mula-card h3 {
      text-align: center;
      color: darken($Blue, 5%);
    }

    .Mula-cardLogo {
      display: flex;
      justify-content: center;
      align-items: center;

      padding-bottom: 2rem;

      width: 100%;
    }

      .Mula-cardLogo > a {
        display: block;
      }

      .Mula-cardLogo > a:hover img {
        transform: scale(1.1) rotate(2deg);
      }

        .Mula-cardLogo > a img {
          transition: transform .15s ease;
        }

      .Mula-cardLogo > span {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 2rem;

        width: 10rem;
        height: 10rem;

        border: 3px dashed darken($Gray, 0%);
        border-radius: 100%;

        @media (min-width: 800px) {
          width: 14rem;
          height: 14rem;
        }
      }

        .Mula-cardLogo > span span {
          display: block;

          font-size: 1rem;
          font-weight: 600;
          line-height: 140%;
          text-align: center;
          color: darken($Gray, 0%);
        }

    .Mula-cardDescription {
      padding-right: 2rem;
      padding-left: 2rem;
    }

      .Mula-cardDescription p {
        font-family: "DCSCORES", sans-serif;
        font-size: 1rem;
        line-height: 165%;
        color: darken($Gray, 25%);
      }

        .Mula-cardDescription p a {
          text-decoration: none;
          color: #43100A;
          border-bottom: 2px solid #fd0;
        }

    .Mula-cardBullets {
      margin-top: 1rem;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }

      .Mula-cardBullets > span {
        display: block;
        margin: 1.5%;

        /* Less on bottom cause of the font */
        padding: 0.75rem 0.75rem 0.5rem 0.75rem;

        font-family: "DCSCORES", sans-serif;
        font-size: 1rem;
        line-height: 145%;
        color: darken($Gray, 29%);

        background-color: lighten($Gray, 19%);
        border-radius: 5px;
      }
