/*------------------------------------*\
    #TEXT BLOCK
\*------------------------------------*/

.TextBlock {
  padding: 0 2rem 0 2rem;
  max-width: 100%;
  text-align: justify;

  @media (min-width: 600px) {
    max-width: 78%;
  }

  @media (min-width: 1000px) {
    max-width: 48%;
  }
}
