/*------------------------------------*\
    #UNITED
\*------------------------------------*/

.United {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;

  width: 10rem;

  text-decoration: none;
  background-color: #FFF;
  border: 2px dashed lighten(#ED4630, 20%);
  border-radius: 5px;

  transform: rotate(3deg);
  transition: all .15s ease;

  z-index: 9000;

  @media (min-width: 600px) {
    position: absolute;
    flex-direction: column;
    top: 4rem;
    right: 4%;

    margin-top: 0;
    width: 11rem;
  }

  @media (min-width: 800px) {
    top: 7rem;
    right: 5%;
    width: 12rem;
  }

  @media (min-width: 1000px) {
    width: 13rem;
  }
}

.United:hover {
  transform: scale(1.1) rotate(1deg);
}

  .United img {
    max-width: 100%;
  }

  .United span {
    display: block;
    margin-top: 1rem;

    font-family: "DCSCORES", sans-serif;
    font-size: 1.2rem;
    line-height: 115%;
    text-align: center;
    color: #43100A;

    @media (min-width: 400px) {
      font-size: 1.3rem;
    }
  }
