/*------------------------------------*\
    #MAIN
\*------------------------------------*/

main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  padding: 2rem;
  padding-bottom: 5rem;

  min-height: 100vh;

  @media (min-width: 600px) {
    padding: 4rem 4rem 8rem 4rem;
  }
}
