/*------------------------------------*\
    #HEADING
\*------------------------------------*/

.Heading {
  padding: 8rem 0;
}

  .Heading h1 {
    padding-bottom: 8rem;

    font-size: 3rem;
    text-align: center;
  }

  .Heading p {
    font-size: 4rem;
    line-height: 150%;
  }
