/*------------------------------------*\
    #BAGGAGE CAROUSEL
\*------------------------------------*/

.BaggageCarousel {
  padding: 1rem;

  background-color: #EEEEEE;
}

  .BaggageCarousel-suitcase {
    margin-right: 1rem;

    width: 4rem;
    height: 4rem;

    background-color: #8C8;
    border-radius: 5px;
  }
