/*------------------------------------*\
    #NAV
\*------------------------------------*/

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  padding: 2rem 2rem 2rem 4rem;

  width: 100%;

  background-color: salmon;

  z-index: 9000;

  @media (min-width: 600px) {
    padding: 2rem 2rem 2rem 4rem;
  }
}

  nav a:first-child {
    max-width: 20rem;

    background-color: darkgreen;
  }

    nav a:first-child img {
      width: 20rem;
    }

  nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #F2EDE0;

    background-color: #171715;
  }
