/*------------------------------------*\
    #NAV
\*------------------------------------*/

nav {
  display: flex;
  flex-direction: column;

  /* Overflow the video if necessary */
  z-index: 9000;

  @media (min-width: 1000px) {
    flex-direction: row;
    align-items: center;
  }
}

  nav a {
    display: block;

    /* Middle-alignment fix bc of font dimensions */
    padding-top: 0.25rem;

    font-family: "DCSCORES", sans-serif;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    text-align: right;
    color: #43100A;

    background-color: #d5bcad;

    @media (min-width: 400px) {
      font-size: 20px;
    }
  }

  nav a:not(:first-child) {
    margin-top: 0.5rem;

    @media (min-width: 600px) {
      margin-top: 0.75rem;
    }

    @media (min-width: 800px) {
      margin-top: 1rem;
    }

    @media (min-width: 1000px) {
      margin-top: 0;
      margin-left: 2rem;
    }

    @media (min-width: 1200px) {
      margin-left: 2.5rem;
    }
  }

  nav a:nth-last-child(2),
  nav a:last-child {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 500px) {
      width: 6.5rem;
      height: 6.5rem;

      border-radius: 100%;
    }
  }

  nav a:nth-last-child(2) {

    @media (min-width: 500px) {
      background-color: #d5bcad;
    }

  }

  nav a:last-child {

    @media (min-width: 500px) {
      background-color: darken(#d5bcad, 20%);
    }

  }
