/*------------------------------------*\
    #UNITED
\*------------------------------------*/

/* Move out */
.Durban {
  display: flex;
  align-items: baseline;

  @media (min-width: 800px) {
    top: 4rem;
    right: 4%;
  }

  @media (min-width: 1000px) {
    position: absolute;
    top: 7rem;
    right: 5%;

    margin-top: 0;
  }
}

.District {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  padding: 1rem 1.5rem 1rem 1.5rem;

  width: 9rem;

  text-decoration: none;
  background-color: #FFF;
  border: 2px dashed lighten(#ED4630, 20%);
  border-radius: 5px;

  transform: rotate(-3deg);
  transition: all .15s ease;

  z-index: 9000;

  @media (min-width: 600px) {
    flex-direction: column;
    width: 10rem;
  }

  @media (min-width: 800px) {
    width: 10rem;
  }

  @media (min-width: 1000px) {
    width: 10rem;
  }

  @media (max-width: 800px) {
    margin-right: 4.25rem;
  }
}

.District:hover {
  transform: scale(1.1) rotate(-1deg);
}

  .District img {
    max-width: 100%;
  }

  .District span {
    display: block;
    margin-top: 1rem;

    font-family: "DCSCORES", sans-serif;
    font-size: 1rem;
    line-height: 115%;
    text-align: center;
    color: #43100A;

    @media (min-width: 400px) {
      font-size: 1.1rem;
    }
  }

.United {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;

  width: 10rem;

  text-decoration: none;
  background-color: #FFF;
  border: 2px dashed lighten(#ED4630, 20%);
  border-radius: 5px;

  transform: rotate(3deg);
  transition: all .15s ease;

  z-index: 9000;

  @media (min-width: 600px) {
    flex-direction: column;
    width: 11rem;
  }

  @media (min-width: 800px) {
    width: 12rem;
  }

  @media (min-width: 1000px) {
    width: 13rem;
  }
}

.United:hover {
  transform: scale(1.1) rotate(1deg);
}

  .United img {
    max-width: 100%;
  }

  .United span {
    display: block;
    margin-top: 1rem;

    font-family: "DCSCORES", sans-serif;
    font-size: 1.2rem;
    line-height: 115%;
    text-align: center;
    color: #43100A;

    @media (min-width: 400px) {
      font-size: 1.3rem;
    }
  }



.TurboUnited {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;

  width: 100%;

  text-align: center;

  @media (min-width: 600px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

  .TurboUnited h2 {
    padding-bottom: 2rem;

    font-size: 1.8rem;
    color: #232020;

    @media (min-width: 600px) {
      font-size: 2rem;
    }

    @media (min-width: 800px) {
      font-size: 2.4rem;
    }

    @media (max-width: 600px) {
      > br {
        display: none;
      }
    }
  }

  .TurboUnited img {
    display: block;
    max-width: 16rem;
  }

  .TurboUnited a {
    display: block;
    margin-top: 4rem;

    font-family: "DCSCORES", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #43100A;

    border-bottom: 3px solid #fd0;
    transition: transform .15s ease;
  }

  .TurboUnited a:hover {
    transform: translateY(-2px);
  }

/* Love me some messy css, oh yaaasss */
.WaterUnited {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;

  width: 100%;

  text-align: center;

  background-image: linear-gradient(to bottom,
  lighten(#2F8FCE, 40%),
  #FAFAFA 100%);


  @media (min-width: 600px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

  .WaterUnited h2 {
    padding-bottom: 2rem;

    font-size: 1.6rem;
    color: darken(#06519C, 5%);

    @media (min-width: 600px) {
      font-size: 1.8rem;
    }

    @media (min-width: 800px) {
      font-size: 2rem;
    }

    @media (max-width: 600px) {
      > br {
        display: none;
      }
    }
  }

  .WaterUnited img {
    display: block;
    max-width: 20rem;
  }

  .WaterUnited a {
    display: block;
    margin-top: 4rem;

    font-family: "DCSCORES", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: darken(#06519C, 5%);

    border-bottom: 3px solid lighten(#2F8FCE, 35%);
    transition: transform .15s ease;
  }

  .WaterUnited a:hover {
    transform: translateY(-2px);
  }

.ContactUnited {
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;

  @media (min-width: 800px) {
    padding: 4rem 2rem 4rem 2rem;
  }

  @media (max-width: 600px) {
    br {
      display: none;
    }
  }
}

  .ContactUnited h3 {
    font-size: 1.2rem;
    line-height: 150%;
    color: darken($Gray, 40%);

    @media (min-width: 600px) {
      font-size: 1.3rem;
    }
  }

    .ContactUnited h3 a {
      text-decoration: none;
      color: #43100A;

      border-bottom: 3px solid #fd0;
      transition: transform .15s ease;
    }
