/*------------------------------------*\
    #TEXT OVERLAY BLOCK
\*------------------------------------*/

.TextOverlayBlock {
  position: absolute;
  top: 45%;
  left: 6%;

  z-index: 9000;

  @media (min-width: 400px) {
    left: 11%;
  }

  @media (min-width: 1000px) {
    top: 61%;
    left: 22%;
  }
}

  .TextOverlayBlock p {
    font-family: "DCSCORES", sans-serif;
    font-size: 3.5rem;
    line-height: 115%;
    color: #FFF;

    @media (min-width: 500px) {
      font-size: 4rem;
    }

    @media (min-width: 800px) {
      font-size: 5rem;
    }
  }
