/*------------------------------------*\
    #MARLBORO MAN
\*------------------------------------*/

.MarlboroMan {
  padding: 1rem 1rem 1rem 1rem;

  width: 100%;

  background-color: #FAFAFA;
  background-image: url(../images/texture-dots-grey.png);
  background-repeat: no-repeat;
  background-size: 50rem;
  background-position: 175% -65%;

  @media (min-width: 400px) {
    padding: 2rem 1.5rem 2rem 1.5rem;
  }

  @media (min-width: 600px) {
    padding: 4rem 2rem 4rem 2rem;
  }

  @media (min-width: 1200px) {
    padding: 8rem 2.75rem 8rem 2.75rem;
  }
}

  .MarlboroMan h1 {
    font-size: 34px;
    color: #43100A;

    @media (min-width: 600px) {
      font-size: 6vw;
    }

    @media (min-width: 1000px) {
      width: 70vw;
      font-size: 70px;
    }
  }

  .MarlboroMan p {
    line-height: 1.4;
    letter-spacing: -0.0125em;
    color: lighten(#4C5051, 18%);

    @media (min-width: 400px) {
      width: 80%;
    }

    @media (min-width: 600px) {
      width: 65%;
      font-size: 3.2vw;
    }

    @media (min-width: 1000px) {
      font-size: 34px;
    }
  }

  .MarlboroMan p + p {
    margin-top: 1.25rem;
  }

    .MarlboroMan p a {
      text-decoration: none;
      color: #B39B00;

      border-bottom: 2px solid;
    }
