/*------------------------------------*\
    #BAGGAGE CAROUSEL
\*------------------------------------*/

.BaggageCarousel {
  list-style: none;
  margin: 0;

  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;

  background-color: #FFF;

  @media (max-width: 600px) {
    display: none!important;
  }
}

.BaggageCarousel:hover .BaggageCarousel-suitcase {
  opacity: 1;
}

  .BaggageCarousel-suitcase {
    position: relative;
    margin-right: 1rem;
    padding: 0;

    width: 4rem;
    height: 4rem;

    border-radius: 3px;
    opacity: 0.45;
    transition: opacity .15s ease;

    @media (min-width: 600px) {
      width: 5rem;
      height: 5rem;
    }

    @media (min-width: 800px) {
      margin-right: 2rem;
      width: 5.25rem;
      height: 5.25rem;
    }
  }

    .BaggageCarousel-suitcase div {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

// Styling third party component
.BaggageCarousel .flickity-button {
  background: transparent;
}

.BaggageCarousel .flickity-prev-next-button {
  width: 30px;
  height: 30px;
}

.BaggageCarousel .flickity-button-icon .arrow {
  fill: darken(#FFF, 15%);
}

.BaggageCarousel .flickity-button:hover .flickity-button-icon .arrow {
  fill: darken(#FFF, 25%);
}
