---
layout: default
---

<div class="FlexBlock">
  <div class="Jumbotron" style="background-image: url(/images/jumbotron-about.jpg); background-position: 50% 50%;">
    <h1 class="Jumbotron-title">{{ page.title }}</h1>
  </div>
</div>

<div class="FlexBlock  FlexBlock--row  FlexBlock--split  FlexBlock--texture  u-above8  u-below8">
  <div class="TextBlock">

    <!-- Attention message
    <span class="TextBlock-important">See the <a href="/2018DCSCORESCupRules.pdf" target="_blank">rules</a> (link, right) for information on the weather policy.</span>-->

    <h2 style="margin-top: 1rem;">The Basics</h2>
    <p>The DC SCORES Cup is the largest annual charity soccer tournament in the Washington, DC, area and one of DC SCORES' largest fundraisers. The World Cup-style, co-ed tournament, created in 2003, pits local law firms and corporations against each other in a fun, competitive environment.</p>
    <p>The one-day tournament is held each June at the beautiful Maryland SoccerPlex in Gaithersburg, MD, and has grown each year — to a record 46 teams in 2018. Money raised directly benefits the DC SCORES program for 3,000 low-income youth.</p>
    <p>The DC SCORES Cup has been highlighted as an effective team-builder in Capital Community News, Legal Bisnow and Washington Business Journal.</p>
  </div>

  <div class="FlexBlock  FlexBlock--full  u-above2  u-below2">
    <!--<a href="/SCORESCup-rules-2019.pdf" class="Badge" target="_blank" style="display:none;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496" width="512" height="512"><g fill="#FFF"><path d="M376 304V0H168v150.112l-37.424 74.84C123.656 238.808 120 254.296 120 269.768a99.77 99.77 0 0 0 7.544 38.152L176 425.584V496h16v-73.584l-49.656-120.592c-4.208-10.232-6.344-21.008-6.344-32.056 0-13 3.08-26.016 8.888-37.656L168 185.888V304h59.328l-3.28 31.168 15.904 1.672 13.224-125.616A21.431 21.431 0 0 1 274.528 192c11.84 0 21.472 9.632 21.472 21.472v109.192l10.616 14.16c8.632 11.504 13.384 25.76 13.384 40.144 0 17.872-6.96 34.68-19.592 47.312L296 428.688V496h16v-60.688c15.48-15.624 24-36.328 24-58.344 0-17.824-5.888-35.488-16.584-49.744L312 317.336V304h64zM274.528 176a37.385 37.385 0 0 0-37.256 33.544L229.016 288H184V16h176v272h-48v-74.528C312 192.808 295.192 176 274.528 176z"/><path d="M328 32h16v16h-16zM296 32h16v16h-16zM264 32h16v16h-16z"/></g></svg>
      <span>Tournament Rules</span>
    </a>-->
  </div>
</div>

<div class="FlexBlock  u-below8">

  <div class="TextBlock  u-flexLeft">
    <h2>Champions</h2>
  </div>

  <ol class="Timeline  u-flexLeft">
    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2019</h3>

      <div class="Timeline-champions">
        <div class="Timeline-championsChamp">
          <img src="/images/logo-districtsports.png" alt="">
          <span>Competitive Division<br><a href="https://districtsportssoccer.org/" target="_blank">District Sports</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-zuckerman.svg" alt="">
          <span>Law Division<br><a href="https://www.zuckerman.com/" target="_blank">Zuckerman Spaeder</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-modifiedconstruction.png" alt="">
          <span>Intermediate Division<br><a href="http://modifiedconstruction.com/" target="_blank">Modified Construction</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-everfi.png" alt="">
          <span>Casual Division<br><a href="https://everfi.com/" target="_blank">EVERFI</a></span>
        </div>
      </div>

    </li>
    
    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2018</h3>

      <div class="Timeline-champions">
        <div class="Timeline-championsChamp">
          <img src="/images/logo-worldbank.png" alt="">
          <span>Competitive Division<br><a href="http://www.worldbank.org/" target="_blank">World Bank</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-ap.svg" alt="">
          <span>Law Division<br><a href="https://www.arnoldporter.com/en/" target="_blank">Arnold & Porter Kaye Scholer</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-wellsfargo.svg" alt="">
          <span>Intermediate Division<br><a href="https://www.wellsfargo.com/" target="_blank">Wells Fargo
</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-guidehouse.svg" alt="">
          <span>Casual Division<br><a href="https://guidehouse.com/" target="_blank">Guidehouse</a></span>
        </div>
      </div>

    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2017</h3>

      <div class="Timeline-champions">
        <div class="Timeline-championsChamp">
          <img src="/images/logo-clarkconstruction.jpg" alt="">
          <span>Competitive Division<br><a href="https://www.clarkconstruction.com/" target="_blank">Clark Construction</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-ap.svg" alt="">
          <span>Law Division<br><a href="https://www.arnoldporter.com/en/" target="_blank">Arnold & Porter Kaye Scholer</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-grantthornton.png" alt="">
          <span>Intermediate Division<br><a href="https://www.grantthornton.com/" target="_blank">Grant Thornton LLP</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-capitalforchildren.png" alt="">
          <span>Casual Division<br><a href="https://capitalforchildren.org/" target="_blank">Capital for Children</a></span>
        </div>
      </div>

    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2016</h3>

      <div class="Timeline-champions">
        <div class="Timeline-championsChamp">
          <img src="/images/logo-ec.png" alt="">
          <span>Casual Division<br><a href="http://www.enlightenment-cap.com/" target="_blank">Enlightenment Capital</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-districtsports.png" alt="">
          <span>Competitive Division<br><a href="http://districtsportssoccer.org/" target="_blank">District Sports</a></span>
        </div>
      </div>

    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2015</h3>

      <div class="Timeline-champions">
        <div class="Timeline-championsChamp">
          <img src="/images/logo-capitalforchildren.png" alt="">
          <span>Casual Division<br><a href="https://capitalforchildren.org/" target="_blank">Capital for Children</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-marriott.png" alt="">
          <span>Competitive Division<br><a href="http://www.marriott.com/" target="_blank">Marriott</a></span>
        </div>
      </div>

    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2014</h3>

      <div class="Timeline-champions">
        <div class="Timeline-championsChamp">
          <img src="/images/logo-deloitte.png" alt="">
          <span>Casual Division<br><a href="https://www2.deloitte.com/global/en.html" target="_blank">Deloitte</a></span>
        </div>

        <div class="Timeline-championsChamp">
          <img src="/images/logo-districtsports.png" alt="">
          <span>Competitive Division<br><a href="http://districtsportssoccer.org/" target="_blank">District Sports</a></span>
        </div>
      </div>

    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2013</h3>
      <h4 class="Timeline-nodeChamp">
        <a href="http://districtsportssoccer.org/" target="_blank">District Sports</a>
      </h4>

      <!--<div class="Timeline-champions">
        <div class="Timeline-championsChamp">
          <img src="/images/logo-districtsports.png" alt="">
          <span><a href="http://districtsportssoccer.org/" target="_blank">District Sports</a></span>
        </div>
      </div>-->

    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2012</h3>
      <h4 class="Timeline-nodeChamp">
        <a href="http://www.volkswagengroupofamerica.com/" target="_blank">Volkswagen Group of America</a>
      </h4>

      <!--<div class="Timeline-champions">
        <div class="Timeline-championsChamp">
          <img src="/images/logo-vwgoa.png" alt="">
          <span><a href="http://www.volkswagengroupofamerica.com/" target="_blank">Volkswagen Group of America</a></span>
        </div>
      </div>-->

    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2011</h3>
      <h4 class="Timeline-nodeChamp">
        <a href="http://www.marriott.com/" target="_blank">Marriott</a>
      </h4>

      <!--<div class="Timeline-champions">
        <div class="Timeline-championsChamp">
          <img src="/images/logo-marriott.png" alt="">
          <span><a href="http://www.marriott.com/" target="_blank">Marriott</a></span>
        </div>
      </div>-->

    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2010</h3>
      <h4 class="Timeline-nodeChamp">
        <a href="https://www.hoganlovells.com/" target="_blank">Hogan Lovells</a>
      </h4>

      <!--<div class="Timeline-champions">
        <div class="Timeline-championsChamp">
          <img src="/images/logo-hoganlovells.jpg" alt="">
          <span><a href="https://www.hoganlovells.com/" target="_blank">Hogan Lovells</a></span>
        </div>
      </div>-->

    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2009</h3>
      <h4 class="Timeline-nodeChamp">
        <a href="http://www.marriott.com/" target="_blank">Marriott</a>
      </h4>

      <!--<div class="Timeline-champions">
        <div class="Timeline-championsChamp">
          <img src="/images/logo-marriott.png" alt="">
          <span><a href="http://www.marriott.com/" target="_blank">Marriott</a></span>
        </div>
      </div>-->

    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2008</h3>
      <h4 class="Timeline-nodeChamp">
        <a href="https://www.kirkland.com/" target="_blank">Kirkland & Ellis LLP</a>
      </h4>
    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2007</h3>
      <h4 class="Timeline-nodeChamp">
        <a href="https://www.lw.com/" target="_blank">Latham & Watkins LLP</a>
      </h4>
    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2006</h3>
      <h4 class="Timeline-nodeChamp">
        <a href="http://www.marriott.com/" target="_blank">Marriott</a>
      </h4>
    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2005</h3>
      <h4 class="Timeline-nodeChamp">
        <a href="https://www.wholefoodsmarket.com/" target="_blank">Whole Foods</a>
      </h4>
    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2004</h3>
      <h4 class="Timeline-nodeChamp">
        <a href="https://www.wholefoodsmarket.com/" target="_blank">Whole Foods</a>
      </h4>
    </li>

    <li class="Timeline-node">
      <h3 class="Timeline-nodeDate">2003</h3>
      <h4 class="Timeline-nodeChamp">
        <a href="http://www.marriott.com/" target="_blank">Marriott</a>
      </h4>
    </li>
  </ol>

</div>

<div class="PhotoBlock  PhotoBlock--reversed  PhotoBlock--cornerGradient">

  <div class="PhotoBlock-moment">

    <!-- Two smaller photos -->
    <div class="PhotoBlock-momentSecondary">
      <div class="PhotoBlock-momentSecondaryTop" style="background-image: url(/images/photo-block-about-secondary-top.jpg); background-position: 50% 50%;"></div>
      <div class="PhotoBlock-momentSecondaryBottom" style="background-image: url(/images/photo-block-about-secondary-bottom.jpg); background-position: 50% 50%;"></div>
    </div>

    <!-- Big main photo -->
    <div class="PhotoBlock-momentPrimary" style="background-image: url(/images/photo-block-about-primary.jpg); background-position: 60% 50%;"></div>

  </div>

  <!-- Custom flickr callout -->
  <aside class="PhotoBlock-flickr">
    <a href="https://www.flickr.com/photos/dcscorespictures/tags/scorescup/" target="_blank">
      <span>More photos<br>on our Flickr<br>page!</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.666 12.333c0 1.838-1.494 3.333-3.332 3.333s-3.334-1.495-3.334-3.333 1.496-3.333 3.334-3.333 3.332 1.496 3.332 3.333zm5.334-7.333v14c0 2.761-2.238 5-5 5h-14c-2.761 0-5-2.239-5-5v-14c0-2.761 2.239-5 5-5h14c2.762 0 5 2.239 5 5zm-4 7.333c0-2.578-2.09-4.667-4.666-4.667-1.309 0-2.488.539-3.336 1.405-.846-.866-2.024-1.405-3.332-1.405-2.576.001-4.666 2.09-4.666 4.667s2.09 4.667 4.666 4.667c1.308 0 2.486-.539 3.332-1.405.848.866 2.027 1.405 3.336 1.405 2.576 0 4.666-2.089 4.666-4.667z"/></svg>
    </a>
  </aside>

</div>
