---
layout: default
---

<div class="MovieTheater">
  <div class="MovieTheater-screen" data-id="NxFUV_umTUQ"></div>
</div>

<div class="MarlboroMan">

  <h1>Soccer for good</h1>
  <p>The DC SCORES Cup is the largest annual charity soccer tournament in the region. This year, 42 teams and over 600 participants took the field for bragging rights and to support a great cause. Re-live the 2019 DC SCORES Cup with our <a href="http://bit.ly/SCup19blog" target="_blank">recap</a> and <a href="http://bit.ly/SCup19photos" target="_blank">photo album</a>.</p>

  <!-- United badge -->
  <a href="https://www.dcunited.com/" class="United" target="_blank">
    <img src="/images/logo-dcunited.png" alt="">
    <span>Official Community Partner</span>
  </a>

</div>

<div class="PhotoBlock">

  <div class="PhotoBlock-moment">

    <!-- Big main photo -->
    <div class="PhotoBlock-momentPrimary  PhotoBlock-momentPrimary--stage" style="background-image: url(/images/photo-block-primary.jpg);"></div>

    <!-- Two smaller photos -->
    <div class="PhotoBlock-momentSecondary">
      <div class="PhotoBlock-momentSecondaryTop" style="background-image: url(/images/photo-block-secondary-top.jpg); background-position: 75% 50%;"></div>
      <div class="PhotoBlock-momentSecondaryBottom" style="background-image: url(/images/photo-block-secondary-bottom.jpg); background-position: 50% 50%;"></div>
    </div>

  </div>

  <aside class="PhotoBlock-callout" style="background-color: #fec737;">
    <h2 class="PhotoBlock-calloutTitle">About DC SCORES</h2>
    <p class="PhotoBlock-calloutDescription">DC SCORES creates neighborhood teams that give kids in need the confidence and skills to succeed on the playing field, in the classroom, and in life.</p>

    <div class="PhotoBlock-calloutFooter">

      <a href="https://www.dcscores.org/" class="PhotoBlock-calloutFooterLink" target="_blank" style="color: #000;">Learn more at DCSCORES.org</a>

    </div>
  </aside>

</div>
