---
layout: default
---

<div class="FlexBlock">
  <div class="Jumbotron" style="background-image: url(/images/jumbotron-sponsor.jpg); background-position: 50% 50%;">
    <h1 class="Jumbotron-title">{{ page.title }}</h1>
  </div>
</div>

<div class="FlexBlock  u-above8  u-below4">

  <div class="Mula">

    <!-- Card 01 -->
    <!--
    <div class="Mula-card">
      <h2>Presenting Sponsor</h2>

      <div class="Mula-cardLogo">
        <a href="https://www.cuisinesolutions.com/" target="_blank">
          <img src="../images/logo-cuisinesolutions--large.png" alt="">
        </a>
      </div>

      <div class="Mula-cardDescription">
        <p><a href="#" target="_blank">Cuisine Solutions</a> is an American premium foods company that specializes in the sous-vide method of cooking and meal preparation. Cuisine Solutions opened its United States headquarters in 1989, establishing itself as America's first major manufacturer of sous-vide products.</p>
      </div>
    </div>-->
    
    <!-- Card 01 -->
    <div class="Mula-card">
      <h2>Presenting Sponsor<strong>$25,000</strong></h2>

      <div class="Mula-cardLogo">
        <span>
          <span>Your<br>Company<br>Logo</span>
        </span>
      </div>
      
      <h3>Benefits</h3>

      <div class="Mula-cardBullets">
        <span>Speaking opportunity during event</span>
        <span>Presenting sponsor designation in all tournament communications: website, emails, flyers, social media (weekly outreach of 50,000+)</span>
        <span>2 team entries</span>
        <span>Featured blog post on DC SCORES website</span>
        <span>Logo placement on tournament t-shirts (700+)</span>
        <span>Logo placement on event signage</span>
        <span>Hospitality tent</span>
      </div>
    </div>

    <!-- Card 02 -->
    <div class="Mula-card">
      <h2>Team Leader<strong>$15,000</strong></h2>

      <div class="Mula-cardLogo">
        <span>
          <span>Your<br>Company<br>Logo</span>
        </span>
      </div>

      <h3>Benefits</h3>

      <div class="Mula-cardBullets">
        <span>Sponsor designation in all tournament communications: website, emails, flyers, social media (weekly outreach of 50,000+)</span>
        <span>2 team entries</span>
        <span>Logo placement<br>on tournament t-shirts (700+)</span>
        <span>Logo placement on event signage</span>
        <span>Hospitality tent</span>
      </div>
    </div>

    <!-- Card 03 -->
    <div class="Mula-card">
      <h2>Team Player<strong>$10,000</strong></h2>

      <div class="Mula-cardLogo">
        <span>
          <span>Your<br>Company<br>Logo</span>
        </span>
      </div>

      <h3>Benefits</h3>

      <div class="Mula-cardBullets">
        <span>Sponsor designation in all tournament communications: website, emails, flyers, social media (weekly outreach of 50,000+)</span>
        <span>1 team entry</span>
        <span>Logo placement<br>on tournament t-shirts (700+)</span>
        <span>Logo placement on event signage</span>
      </div>
    </div>
  </div>

</div>

<div class="FlexBlock">
  <div class="TurboUnited">
    <h2>DC SCORES is the official<br>community partner of<br>D.C. United</h2>
    <img src="/images/logo-dcunited.png" alt="">
    <a href="https://www.dcscores.org/about-us/dc-united/" target="_blank">Learn more</a>
  </div>
</div>

<div class="FlexBlock">
  <div class="WaterUnited">
    <h2>Big thanks to DrinkMore Water,<br> the official water sponsor<br> of the DC SCORES Cup!</h2>
    <img src="/images/drinkmorewater.png" alt="">
    <a href="https://www.drinkmorewater.com/" target="_blank">Visit DrinkMore Water</a>
  </div>
</div>

<div class="FlexBlock">
  <div class="ContactUnited">
    <h3>Looking for other opportunities off the field? <br><a href="mailto:afrancavilla@dcscores.org">Contact us</a> for more sponsorship possibilities<br>including medical tent, DJ, and more!</h3>
  </div>
</div>
