---
layout: default
---

<div class="FlexBlock">
  <div class="Jumbotron" style="background-image: url(/images/jumbotron-teams.jpg); background-position: 50% 50%;">
    <h1 class="Jumbotron-title">{{ page.title }}</h1>
  </div>
</div>

<!-- Single division block -->
<div class="FlexBlock  u-above8  u-below8">

  <div class="TextBlock  u-flexLeft">
    <h2 class="u-below1">Casual Division</h2>
  </div>

  <div class="PremierLeague">

    <div class="PremierLeague-clubs">

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/arsenal.svg" alt="Logo">
        </div>

        <figcaption>
          <a href="#">Arsenal</a> Football Club is a professional football club based in Islington, London, England, that plays in the Premier League, the top flight of English football.
        </figcaption>
      </figure>

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/chelsea.svg" alt="Logo">
        </div>

        <figcaption>
          <a href="">Chelsea</a> Football Club is a professional football club in London, England, that competes in the Premier League.
        </figcaption>
      </figure>

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/arsenal.svg" alt="Logo">
        </div>

        <figcaption>
          <a href="#">Arsenal</a> Football Club is a professional football club based in Islington, London, England, that plays in the Premier League, the top flight of English football.
        </figcaption>
      </figure>

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/chelsea.svg" alt="Logo">
        </div>

        <figcaption>
          <a href="">Chelsea</a> Football Club is a professional football club in London, England, that competes in the Premier League.
        </figcaption>
      </figure>

    </div>
  </div>
</div>

<!-- Single division block -->
<div class="FlexBlock  u-below8">

  <div class="TextBlock  u-flexLeft">
    <h2 class="u-below1">Intermediate Division</h2>
  </div>

  <div class="PremierLeague">

    <div class="PremierLeague-clubs">

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/arsenal.svg" alt="Logo">
        </div>

        <figcaption>
          <a href="#">Arsenal</a> Football Club is a professional football club based in Islington, London, England, that plays in the Premier League, the top flight of English football.
        </figcaption>
      </figure>

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/chelsea.svg" alt="Logo">
        </div>

        <figcaption>
          <a href="">Chelsea</a> Football Club is a professional football club in London, England, that competes in the Premier League.
        </figcaption>
      </figure>

    </div>
  </div>
</div>
