---
layout: default
---

<div class="FlexBlock">
  <div class="Jumbotron" style="background-image: url(/images/jumbotron-teams.jpg); background-position: 50% 50%;">
    <h1 class="Jumbotron-title">{{ page.title }}</h1>
  </div>
</div>

<!-- Casual division block -->
<div class="FlexBlock  u-above8  u-below8">
  
  <div class="TextBlock  u-flexLeft">
    <!-- I know I know...Just for now... -->
    <h2 class="u-below1" style="font-size: 2.4rem; color:#360D08">2019 Teams</h2>
  </div>
  
  <div class="TextBlock  u-flexLeft">
    <h2 class="u-below1">Casual Division</h2>
  </div>

  <div class="PremierLeague">

    <div class="PremierLeague-clubs">
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-atlanticmedia.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.atlanticmedia.com/" target="_blank">Atlantic Media</a> is dedicated to equipping opinion leaders with breakthrough ideas and original insights.
        </figcaption>
      </figure>

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-avascent.png" alt="Logo">
        </div>

        <figcaption>
          <a href="http://www.avascent.com/" target="_blank">Avascent</a> is a boutique management consulting firm serving the defense, aerospace, homeland security, logistics, transit, and financial industries.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-capgemini.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.capgemini.com/" target="_blank">Capgemini Government Solutions</a> is a Federal Management and IT Consulting wholly owned subsidiary of Capgemini Global headquartered in McLean, VA.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-everfi.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://everfi.com/" target="_blank">EVERFI</a> is a technology company that provides learners of all ages education for the real world, through innovative and scalable digital learning.
        </figcaption>
      </figure>

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-leidos.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.leidos.com/" target="_blank">Leidos</a> is an American defense company headquartered in Reston, Virginia, that provides scientific, engineering, systems integration, and technical services.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-levy.png" alt="Logo">
        </div>

        <figcaption>
          <a href="http://www.levyrestaurants.com/" target="_blank">Levy</a> is a restaurant company based specializing in providing vending and food services to major entertainment and sports venues, including Audi Field.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-pepco.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.pepco.com/" target="_blank">Pepco</a> is a public utility owned by Exelon that supplies electric power to the city of Washington, D.C. and to surrounding communities in Maryland.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-pwc.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.pwc.com/" target="_blank">PricewaterhouseCoopers</a> (doing business as PwC) is a multinational professional services network headquartered in London, United Kingdom.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-rti.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.rti.org/" target="_blank">RTI International</a> is a nonprofit organization that provides research and technical services.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-ugroup.jpg" alt="Logo">
        </div>

        <figcaption>
          <a href="https://u.group/" target="_blank">U.Group</a> is a technology company with an award-winning creative and design team that also offers user friendly interfaces and integrated marketing strategies.
        </figcaption>
      </figure>
      
    </div>
  </div>
</div>

<!-- Intermediate division block -->
<div class="FlexBlock  u-below8">

  <div class="TextBlock  u-flexLeft">
    <h2 class="u-below1">Intermediate Division</h2>
  </div>

  <div class="PremierLeague">

    <div class="PremierLeague-clubs">
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-bateswhite.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.bateswhite.com/" target="_blank">Bates White</a> is a privately held economic consulting firm specializing in advanced economic, financial, and econometric analysis.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-dcunited.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.dcunited.com/" target="_blank">D.C. United</a> is an American professional soccer club based in Washington, D.C. The club competes as a member of the Eastern Conference in Major League Soccer (MLS), the top level of professional American soccer.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-deloitte.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www2.deloitte.com/us/" target="_blank">Deloitte</a> is a UK-incorporated multinational professional services network.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-grantthornton.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.grantthornton.com/" target="_blank">Grant Thornton LLP</a> is the American member firm of Grant Thornton International, the sixth largest accounting network in the world by combined fee income.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-guidehouse.svg" alt="Logo">
        </div>

        <figcaption>
          <a href="https://guidehouse.com" target="_blank">Guidehouse</a> is the industry leader in public sector consulting services. Providing a variety of solutions; Technology Consulting, Management Consulting, Strategy Consulting, Risk Management Consulting.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-jpconst.png" alt="Logo">
        </div>

        <figcaption>
          <a href="http://jpconstinc.com/" target="_blank">JP Construction</a> is a commercial drywall and carpentry subcontractor in the DC metropolitan area.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-modifiedconstruction.png" alt="Logo">
        </div>

        <figcaption>
          <a href="http://modifiedconstruction.com/" target="_blank">Modified Construction</a> is a full service custom builder capable of a wide range of construction services. We specialize in residential home building, remodeling, renovations, and boutique development projects.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-morganfranklin.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.morganfranklin.com/" target="_blank">MorganFranklin</a> is a management and technology consulting firm that works with leading businesses and government to address critical finance, technology, and business objectives.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-newcolumbiasolar.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://newcolumbiasolar.com/" target="_blank">New Columbia Solar</a> is a full-service solar energy company, based in and serving the District of Columbia.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-turner.png" alt="Logo">
        </div>

        <figcaption>
          <a href="http://www.turnerconstruction.com/" target="_blank">Turner Construction</a> is an American construction company. It is one of the largest construction management companies in the United States of America.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-vwgoa.png" alt="Logo">
        </div>

        <figcaption>
          <a href="http://www.volkswagengroupofamerica.com/" target="_blank">Volkswagen Group of America</a> is the North American operational headquarters, and subsidiary of the Volkswagen Group of automobile companies of Germany.
        </figcaption>
      </figure>
      
    </div>
  </div>
</div>

<!-- Competitive division block -->
<div class="FlexBlock  u-below8">

  <div class="TextBlock  u-flexLeft">
    <h2 class="u-below1">Competitive Division</h2>
  </div>

  <div class="PremierLeague">

    <div class="PremierLeague-clubs">

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-clarkconstruction.jpg" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.clarkconstruction.com/" target="_blank">Clark Construction</a> is one of the most experienced and respected building and civil construction firms in the United States.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-deloitte.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www2.deloitte.com/us/" target="_blank">Deloitte</a> is a UK-incorporated multinational professional services network.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-districtsports.png" alt="Logo">
        </div>

        <figcaption>
          <a href="http://districtsportssoccer.org/" target="_blank">District Sports</a> is a non-profit adult soccer league run by soccer players, for soccer players.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-ey.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.ey.com/" target="_blank">Ernst & Young</a> is a multinational professional services firm headquartered in London, England, United Kingdom.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-marriott.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.marriott.com/" target="_blank">Marriott International</a> is an American multinational diversified hospitality company that manages and franchises a broad portfolio of hotels and related lodging facilities.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-thinkfoodgroup.png" alt="Logo">
        </div>

        <figcaption>
          <a href="http://www.thinkfoodgroup.com/" target="_blank">ThinkFoodGroup</a>, founded by award-winning chef José Andrés and his partner Rob Wilder, is the creative team responsible for renowned dining concepts in Washington, DC, Las Vegas, Los Angeles, Miami, Frisco Texas and Puerto Rico.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-wellsfargo.svg" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.wellsfargo.com/" target="_blank">Wells Fargo</a> is an American multinational financial services company headquartered in San Francisco, California, with central offices throughout the country.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-worldbank.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.worldbank.org/" target="_blank">World Bank</a> is an international financial institution that provides interest-free loans and grants to the governments of poorer countries for the purpose of pursuing capital projects.
        </figcaption>
      </figure>

    </div>
  </div>
</div>

<!-- Law division block -->
<div class="FlexBlock  u-below8">

  <div class="TextBlock  u-flexLeft">
    <h2 class="u-below1">Law Division</h2>
  </div>

  <div class="PremierLeague">

    <div class="PremierLeague-clubs">

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-akingump.svg" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.akingump.com/" target="_blank">Akin Gump</a>, headquartered in Washington, D.C., is an American international law firm and the most profitable lobbying firm in the United States.
        </figcaption>
      </figure>
      
      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-ap.svg" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.arnoldporter.com/en/" target="_blank">Arnold & Porter Kaye Scholer</a> is an international law firm based in Washington, D.C. Arnold & Porter is well known for its trial, corporate, and antitrust work, and for its pro bono commitments.
        </figcaption>
      </figure>

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-hoganlovells.jpg" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.hoganlovells.com/" target="_blank">Hogan Lovells US LLP</a> is an international law firm co-headquartered in London and Washington, D.C..
        </figcaption>
      </figure>

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-kirklandellis.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.kirkland.com/" target="_blank">Kirkland & Ellis LLP</a> is an international law firm founded in Chicago in 1909. It is the world's largest and highest-grossing law firm, with 1,900 attorneys worldwide.
        </figcaption>
      </figure>

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-venable.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.venable.com/" target="_blank">Venable LLP</a> is a law firm formerly known as Venable, Baetjer & Howard LLP. It was founded in Baltimore in 1900.
        </figcaption>
      </figure>

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-williamsconnolly.png" alt="Logo">
        </div>

        <figcaption>
          <a href="https://www.wc.com/" target="_blank">Williams & Connolly LLP</a> is a prominent litigation firm based in Washington, D.C., United States. It is consistently ranked among the top law firms in Washington, D.C.
        </figcaption>
      </figure>

      <figure class="PremierLeague-clubsProfile">
        <div>
          <img src="/images/logo-zuckerman.svg" alt="Logo">
        </div>

        <figcaption>
          <a href="http://www.zuckerman.com/" target="_blank">Zuckerman Spaeder LLP</a> is a legal advisory firm that focuses on business and criminal litigation.
        </figcaption>
      </figure>
      
    </div>
  </div>
</div>

<div class="PhotoBlock  PhotoBlock--reversed  PhotoBlock--cornerGradient">

  <div class="PhotoBlock-moment">

    <!-- Two smaller photos -->
    <div class="PhotoBlock-momentSecondary">
      <div class="PhotoBlock-momentSecondaryTop" style="background-image: url(/images/photo-block-teams-secondary-top.jpg); background-position: 50% 50%;"></div>
      <div class="PhotoBlock-momentSecondaryBottom" style="background-image: url(/images/photo-block-teams-secondary-bottom.jpg); background-position: 50% 50%;"></div>
    </div>

    <!-- Big main photo -->
    <div class="PhotoBlock-momentPrimary" style="background-image: url(/images/photo-block-teams-primary.jpg); background-position: 60% 50%;"></div>

  </div>

  <!-- Custom flickr callout -->
  <aside class="PhotoBlock-flickr">
    <a href="https://www.flickr.com/photos/dcscorespictures/tags/scorescup/" target="_blank">
      <span>More photos<br>on our Flickr<br>page!</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.666 12.333c0 1.838-1.494 3.333-3.332 3.333s-3.334-1.495-3.334-3.333 1.496-3.333 3.334-3.333 3.332 1.496 3.332 3.333zm5.334-7.333v14c0 2.761-2.238 5-5 5h-14c-2.761 0-5-2.239-5-5v-14c0-2.761 2.239-5 5-5h14c2.762 0 5 2.239 5 5zm-4 7.333c0-2.578-2.09-4.667-4.666-4.667-1.309 0-2.488.539-3.336 1.405-.846-.866-2.024-1.405-3.332-1.405-2.576.001-4.666 2.09-4.666 4.667s2.09 4.667 4.666 4.667c1.308 0 2.486-.539 3.332-1.405.848.866 2.027 1.405 3.336 1.405 2.576 0 4.666-2.089 4.666-4.667z"/></svg>
    </a>
  </aside>

</div>
