---
layout: default
---

<div class="FlexBlock">
  <div class="Jumbotron" style="background-image: url(/images/jumbotron-teams.jpg); background-position: 50% 50%;">
    <h1 class="Jumbotron-title">{{ page.title }}</h1>
  </div>
</div>

<div class="PremierLeague">

  <h2 class="PremierLeague-title">Division</h2>

  <div class="PremierLeague-clubs">

    <figure class="PremierLeague-clubsProfile">
      <div>
        <img src="/images/arsenal.svg" alt="Logo">
      </div>

      <figcaption>
        <a href="#">Arsenal</a> Football Club is a professional football club based in Islington, London, England, that plays in the Premier League, the top flight of English football.
      </figcaption>
    </figure>

    <figure class="PremierLeague-clubsProfile">
      <div>
        <img src="/images/chelsea.svg" alt="Logo">
      </div>

      <figcaption>
        Chelsea Football Club is a professional football club in London, England, that competes in the Premier League.
      </figcaption>
    </figure>

    <figure class="PremierLeague-clubsProfile">
      <div>
        <img src="/images/arsenal.svg" alt="Logo">
      </div>

      <figcaption>
        <a href="#">Arsenal</a> Football Club is a professional football club based in Islington, London, England, that plays in the Premier League, the top flight of English football.
      </figcaption>
    </figure>

    <figure class="PremierLeague-clubsProfile">
      <div>
        <img src="/images/chelsea.svg" alt="Logo">
      </div>

      <figcaption>
        Chelsea Football Club is a professional football club in London, England, that competes in the Premier League.
      </figcaption>
    </figure>

  </div>
</div>
